@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primerio: #DDF4E7;
    --color-secundario: #67C090;
    --color-terciario: #26667F;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona-one: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-primerio);
    color: var(--color-secundario);
}

.header{
    padding: 2% 0 0 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_link{
    font-family: "Montserrat", sans-serif;
    color: var(--color-terciario);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}
.titulo-destaque {
    color: var(--color-terciario); ;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
}

.presentaciom_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo{
    font-family: var(--fuente-krona-one);
    font-size: 36px;
}

.presentacion_contenido_texto{
    font-family: var(--fuente-montserrat);
    font-size: 24px;
}

.presentacion_enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_link{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
     font-family: "Montserrat", sans-serif;
     font-size: 24px;
     font-weight: 600;
     text-decoration: none;
     color: var(--color-secundario);
     border: 2px solid var(--color-terciario);
     display: flex;
     justify-content: center;
     gap: 10px;   
}

.presentacion_enlace_subtitulo {
    font-family: "krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion_enlaces_link:hover{
    background-color: #a5dbbe;
}

.texto_nombre:hover{
    color: var(--color-terciario);
}

.footer{
    background-color: var(--color-terciario);
    padding: 18px;
    color: var(--color-primerio);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
}